
.article {
	display: flex;
	flex-direction: column;
	row-gap: 3px;
  font-family: 'Inter-Regular';
  background-color: $background-color-base;
  border: 1px solid #ccc;
  padding: 15px 19px;
  border-radius: 5px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__info-left {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__info-right {
    display: flex;
    flex-direction: column;
    column-gap: 2px;
    text-align: right;
  }

  &__title {
    display: flex;
    position: relative;
    color: $info-color;
    font-size: 20px;
    margin: 0;
    font-weight: $regular;
		margin-right: 13px;
  }

	&__favorites{
		display: flex;
		column-gap: 5px;
		align-items: flex-start;
		line-height: 16px;
		margin-top: 5px;
		flex-grow: 2;
	}

  &__favorites-count {
    @media (max-width: 425px) {
      text-align: center;
    }
    position: relative;
    color: $text-color;
    font-size: 14px;
    margin: 0;
    flex-grow: 2;
    justify-content: center;
  }

  &__tags {
    display: flex;
    column-gap: 8px;
  }

  &__tag {
    padding: 2px 5px;
    font-size: 12px;
    line-height: 15px;
    color: $text-color-secondary;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }

  &__author {
    color: $header-color;
    font-weight: $regular;
    font-size: 18px;

    margin: 0;
		margin-bottom: 5px; 
  }

  &__date {
    color: $text-color-secondary;
    font-weight: $regular;
    font-size: 12px;

    margin: 0;
  }
  &__avatar {
		@media (max-width: 425px) {
			display: none;
		}
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
		margin-left: 12px;
  }

  &__description {
    color: $text-color;
    line-height: 22px;
    font-size: 12px;
    font-weight: $regular;
		margin: 0;
  }
}

