.article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
  font-family: 'Inter-Regular';
  background-color: $background-color-base;
  border: 1px solid #ccc;
  padding: 15px 19px;
  border-radius: 5px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);

  &__header {
    display: flex;
    column-gap: 4px;
  }

  &__info-left {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__info-right {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    column-gap: 2px;
    text-align: right;
  }

  &__title {
    position: relative;
    color: $info-color;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    font-weight: $regular;
    overflow-wrap: anywhere;
    &:hover {
      color: rgb(0, 113, 219);
    }
    &-favorites {
      display: flex;
      column-gap: 12px;
      align-items: baseline;
      line-height: 16px;
      flex-grow: 2;
    }
  }

  &__favorites-count {
    color: $text-color;
    font-size: 12px;
    margin: 0;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3px;
    column-gap: 8px;
  }

  &__tag {
    padding: 2px 5px;
    font-size: 12px;
    line-height: 15px;
    color: $text-color-secondary;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    display: inline-block;
    overflow-wrap: anywhere;
  }

  &__author {
    color: $header-color;
    font-weight: $regular;
    font-size: 18px;
    overflow-wrap: anywhere;
    margin: 0;
    margin-bottom: 5px;
  }

  &__date {
    color: $text-color-secondary;
    font-weight: $regular;
    font-size: 12px;

    margin: 0;
  }
  &__avatar {
    @media (max-width: 425px) {
      display: none;
    }
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
  }
  &__text {
    color: $text-color;
    line-height: 22px;
    font-size: 12px;
    font-weight: $regular;
    margin: 0;
    overflow-wrap: anywhere;
    &-container {
      display: flex;
			justify-content: space-between;
			margin-bottom: 4px;
			column-gap: 12px;
    }
    &-description {
      margin: 0;
			max-width: 682px;
    }
		&-buttons{
			@media (min-width: 768px) {
				flex-direction: row;
				column-gap: 12px;
				justify-content: flex-start;	
			}
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}
  }
}

.like-container {
  padding: 0 4px;
}

.like {
  color: inherit;
}

.red-like {
  color: red;
}

.deleteButton,
.editButton {
  font-size: 14px;
  cursor: pointer;
  &:disabled {
    background-color: #a0aec0;
    cursor: not-allowed;
  }
}

.editButton {
  color: $success-color;
  border-color: $success-color;
  &:hover {
    color: $success-color !important;
    border-color: rgb(111, 243, 75) !important;
  }
}

