.main-content {
  @media (min-width: 1120px) {
    padding: 59px 248px;
  }
  background-color: $background-color-body;
  padding: 26px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  align-items: center;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  background-color: $background-color-body;
}
