.header {
  @media (max-width: 320px ) {
    justify-content: center;
    row-gap: 10px;
  }
  background-color: $background-color-base;
  font-family: $Inter-Regular;
  display: flex;
  column-gap: 27px;
	flex-wrap: wrap;
  padding: 0 22px;
  min-height: 80px;
  color: $header-color;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  &__title {
    @media (max-width: 320px ) {
      margin-right: 0;
    }
    line-height: 28px;
    margin-right: auto;
    &:hover {
      color: grey;
    }
  }
  &__avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__user-info {
    display: flex;
    align-items: center;
    column-gap: 13px;
    &:hover {
      opacity: 0.8;
    }
  }
  &__auth-buttons {
    display: flex;
    align-items: center;
    column-gap: 19px;
  }
}

.button-create {
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  color: $success-color;
  text-decoration: none;
  padding: 1px 8px;
  font-size: 14px;
  transition: all 0.1s ease-in;
  &:hover {
    color: rgb(49, 206, 5);
  }
}

.button-auth {
  display: block;
  padding: 0 22px;
  font-size: 18px;
  color: inherit;
  border-color: inherit;
  color: $text-color;
  height: 51px;
  &:hover,
  &:focus {
    color: grey !important;
    border-color: grey !important;
  }
}

.sign-in {
  &:hover,
  &:focus {
    color: grey;
  }
}

.sign-up {
  padding: 6px 18px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: inherit;
  border-color: inherit;
  padding: 11px 19px;
  color: $success-color;
  &:hover,
  &:focus {
    color: rgb(53, 224, 5);
  }
}
