 .ant-pagination-item-active a{
    color: white !important; 
  }

  .ant-pagination-item-active {
    color: white !important; 
    &:hover{
      background-color: darken(rgb(24, 144, 255), 10%);
    }
  }
